.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user.id) do
            / %a{href: "#"}
            = image_tag @prototype.user.avatar, style: "width: 64px; height: 64px;", alt: "64x64", "data-holder-rendered" => true, "data-src" => "holder.js/64x64", class: "media-object"
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.name
          .proto-user
            = link_to "by #{@prototype.user.name}", user_path(@prototype.user_id)
            %span.degree
              = @prototype.user.profile
              = @prototype.user.works

    .col-md-6.text-right
      .btn.btn-defult.increment-button#likes-box
        = render partial: 'likes/like', locals: { prototype: @prototype, likes: @likes }
  .row
    .col-md-9
      =image_tag @prototype.capturedimages.first.image, :class => 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        -@prototype.capturedimages.where(role: 1).each do |capturedimage|
          %li.list-group-item
            = image_tag(capturedimage.image, :class=>'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        =@prototype.catchcopy
    .col-md-6
      %h4 Concept
      %p
        =@prototype.content
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        - @prototype.tags.each do |tag|
          %li
            = link_to "#{tag.name}", tag_path(tag.id), class: "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num
        = @prototype.comments.count
    .col-md-8
      %span#comment_list
        = render partial: 'comments/comment',collection: @prototype.comments
      - if user_signed_in?
        = form_for [@prototype, @comment],  remote: true do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :comment , placeholder: "Your comments", rows: "3", class: "form-control", id: "comment_field"
              = f.hidden_field :user_id, value: current_user.id
            .form-group.col-md-2
              = f.submit "Comment", class: "btn btn-primary"
