.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to @user, disabled: true do
          = image_tag @user.avatar,
                      style: "width: 64px; height: 64px;",
                      alt: "64x64",
                      "data-holder-rendered" => true,
                      "data-src" => "holder.js/64x64",
                      class: "media-object"
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            = @user.prototypes.count
            %i Projects
        .proto-user
          %span.degree
            = @user.member
        .row
          .col-md-6
            %h4 Profile
            %p
              = @user.profile
          .col-md-6
            %h4 Works
            %p
              = @user.works
- @prototypes.each do |prototype|
  .container.proto-list
    .row
      .col-sm-4.col-md-3.proto-content
        .dropdown.drop_menu_location
          %button.btn.btn-defoult.dropdown-toggle{"data-toggle"=>"dropdown","id"=>"dropdownMenu","type"=>"button","aira-expanded"=>"false"}Action
          %ul.dropdown-menu{"aria-labelledy"=>"dropdownMenu1"}
            %li
              = link_to "Delete", prototype_path(prototype),method: :delete
            %li
              = link_to "Edit", edit_prototype_path(prototype)
        .thumbnail
          = link_to prototype_path(prototype) do
            = image_tag prototype.capturedimages.first.image
            .caption
              %h3
                = prototype.name
              .proto-meta
                .proto-date
                  = prototype.created_at.to_formatted_s(:updated_at)

              %ul.proto-tag-list.list-inline
                - prototype.tags.each do |tag|
                  %li
                    = link_to "#{tag.name}",tag_path(tag.id),class: "btn btn-default"
.text-center
  = paginate @prototypes
  / %ul.pagination
  /   %li.disabled
  /     %a{"aria-label": "Previous", href: "#"}
  /       %span{"aria-hidden": "true"} «
  /   %li.active
  /     %a{href: "#"}
  /       1
  /       %span.sr-only (current)
  /   %li
  /     %a{href: "#"} 2
  /   %li
  /     %a{href: "#"} 3
  /   %li
  /     %a{href: "#"} 4
  /   %li
  /     %a{href: "#"} 5
  /   %li
  /     %a{"aria-label": "Next", href: "#"}
  /       %span{"aria-hidden": "true"} »
